:root {
  --purple-01: #5956e9;
  --purple-02: #dadeff;
  --blue-01: #64b3ff;
  --blue-02: #dbf8fe;
  --pink: #fcbcc4;
  --gray-01: #f6f8fa;
  --gray-02: #d1d1d1;
  --gray-03: #888;
  --brown: #f4e4d8;
  --white: #fff;
  --black: #252525;
}